<!DOCTYPE html>
<html lang="it">
<head>
  <title>Vue18</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>

  <div id="titolo">
    <h1>Vue18</h1>
  </div>

  <div class="container">

    <div id="app-1" :style="myCustomStyles"> <!-- :style="[myCustomStyles, { width: '100px' }]" -->
      <div class="row margin">
        <div class="col-lg-8">
          <!-- model: gestisce l'input -->
          <!-- v-on: si può sostituire con @ -->
          <input v-model="message" style="margin-bottom:1vh;"></input>
          <span> ==> {{messageR}}</span>
          <p v-if="message == messageR">{{pal}}</p>
          <p v-else>{{palN}}</p>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <ol>
            <groc
              v-for="item in groceryList"
              v-bind:grocery="item"
              v-bind:key="item.id">
            </groc>
          </ol>
        </div>
      </div>
    </div>

    <div id="app-2">
      <div class="row margin">
        <div class="col-lg-3 text-center">
          <div v-if="showDrinks">
            <h4>Bevande</h4>
            <ul>
              <li v-for="(quantity, drink) in drinks" v-if="quantity >= 0">{{ drink }} => {{ quantity }}</li> <!-- v-for="n in 20" -->
            </ul>
          </div>
        </div>
        <div class="col-lg-4 offset-lg ">
          <div v-for="person in people" v-bind:key="person">
            <input type="text">
            {{ person }}
          </div>
          <button @click="shuffle">mischia</button>
        </div>
        <div class="col-lg-3">
          <input type="radio" v-model="mese" v-bind:value="'marzo'"> Marzo
          <input type="radio" v-model="mese" v-bind:value="'aprile'"> Aprile
          <input type="radio" v-model="mese" v-bind:value="'maggio'"> Maggio
          <br/>
          <input type="checkbox" v-model="tv" v-bind:true-value="'si'" v-bind:false-value="'no'">tv
          <input type="checkbox" v-model="sauna" v-bind:true-value="'si'" v-bind:false-value="'no'">sauna
          <br/><br/>
          <span>{{ mese }} - {{ tv }} - {{ sauna }}</span>
        </div>
      </div>
    </div>



    <div id="app-3">
      <div class="row margin">
        <div class="col-lg-4">
          <input type="text" v-model.trim="fullname"><br>
          <span v-bind:title="message">{{ firstname }} {{ lastname }}</span><br>
          <button v-bind:disabled="button1Dis" v-on:click="button = 1"> <!-- v-bind:disabled=true -->
            3 Nome
          </button>
          <button v-bind:disabled="button2Dis" v-on:click="button = 2"> <!-- v-bind:disabled=false -->
            3 Cognome
          </button><br>
          <p v-if="button == 1">Prime 3 lettere del nome: {{firstname|uppercase|limit(3)}}</p>
          <p v-if="button == 2">Prime 3 lettere del cognome: {{lastname|uppercase|limit(3)}}</p>
        </div>
        <div class="col-lg-2 offset-lg">
          <input v-model="name" placeholder="name"><br/>
          <input v-model="surname" placeholder="surname"><br/>
          <button @click.prevent="addPerson">Add person</button>
        </div>
        <div class="col-lg-2 offset-lg-2">
          <people-list :people="people"></people-list>
        </div>
        <div class="col-lg-2">
          <b>{{ firstname2 }} {{ lastname2 }}</b>
          <child-component inline-template :firstname2.sync="firstname2" :lastname2="lastname2">
            <button @click="updateFirstname()">Update from child</button>
          </child-component>
          <decrementer></decrementer>
          <decrementer></decrementer>
          <b>{{ counter }} </b>
          <incrementer></incrementer>
          <incrementer></incrementer>
        </div>
      </div>
    </div>


    <div id="app-4">
      <div class="row margin">
        <div class="col-lg">
          <input v-model.trim="message">
          <span> ==> {{message}}</span>
          <button v-on:click="converti">Converti</button>
          <button v-on:click="reset">Reset</button>
          <div id="cambiaMess">
            <span>{{coordinate}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <template id="people-list">
    <div>
      <person v-for="person in people" :person="person"></person>
    </div>
  </template>
  <template id="person">
    <div><i>{{ person.name }}</i> <b>{{ person.surname }}</b></div>
  </template>
</body>
</html>
