body {
  margin: 0;
}

#titolo {
  height: 7vh;
  width: 100%;
  margin-bottom: 3vh;
  background-color: black;
  color: white;
  text-align: center;
}

#titolo h1 {
  margin: 0;
  padding: 1vh 0;
  font-weight: bold;
}

.container {
  margin: 1vh;
}

.margin {
  margin: 2vh 0;
}
